@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

.contactContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

.infoContainer {
  background-color: #1f2326;
  color: whitesmoke;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 80rem;
  display: flex;
}

.imageContainer {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 10px;
  flex-grow: 1;
}

.presentation {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// format image
.imageContainer img {
  width: 100%;
  max-width: 90%;
  height: auto;
  border-radius: 10px;
}

.presentation h3 {
  color: #c6b9a7;
  font-size: 1.5rem;
  margin-top: 10px;
  text-align: center;
}

.presentation p {
  color: whitesmoke;
}

.presentation .hrColor {
  border: none;
  height: 2px;
  background-color: #c6b9a7;
  width: 100%;
  margin: 10px 0;
}


.presentation .languageContainer {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

// stack
.presentation .languageCircle {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #c6b9a7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1f2326;
  font-size: 24px;
  font-family: 'Playfair Display', serif;
}

// text stack
.presentation .languageCircle span {
  font-size: 14px;
  font-weight: bold;
}